/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  max-width: 1920px;
  min-width: 428px;
  font-size: 62.5%;
}
.opakbackground {
  background-color: rgb(0, 4, 17, 0.65);
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 12rem;
}
.icons i {
  padding-top: 5rem;
  font-size: 3rem;
  padding-bottom: 3rem;
  color: white;
}
.navbar a {
  font-size: 2rem;
  color: white;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  text-decoration: none;
}

h1 {
  font-size: 7.5rem;
  text-align: center;
  color: white;
  padding-top: 5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}
h5 {
  font-size: 3.5rem;
}
h6 {
  font-size: 2.2rem;
}
p,
a {
  font-size: 2rem;
}

/* header section */
header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/menu-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* spacer */
.spacer {
  width: 100%;
  height: 20vh;
  background-color: rgb(0, 4, 17);
}
.spacer-sm {
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
  width: 100%;
  height: auto;
  background-image: url("../img/staff-bartender.jpg");
  background-color: rgb(0, 4, 17);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.baslik {
  display: flex;
  justify-content: center;
  margin-left: 40vw;
  margin-right: 25vw;
  color: white;
}
.div1 {
  display: flex;
  flex-direction: column;

  text-align: center;
  max-width: 50%;
  max-height: 30%;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-top: 5rem;
  margin-left: 21rem;
}
.Aperatif {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
  max-width: 50%;
  max-height: 30%;
  margin-right: 3rem;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}
.Corba {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  text-align: center;
  max-width: 45%;
  max-height: 30%;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-top: 3rem;
}
.meze {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-width: 50%;
  max-height: 30%;
  margin-right: 3rem;
  color: white;
  margin-top: 3rem;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}
.tatlı {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  max-height: 32%;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}
/* footer section */
footer {
  width: 100%;
  height: 15vh;
  font-size: 3rem;
}
.container {
  background: rgb(0, 4, 17);
  display: flex;
  width: 100%;
}
.mailyeri {
  width: 40vw;
}
.footersagkisim {
  display: flex;
}
.footernav {
  display: flex;
  justify-content: space-evenly;
  gap: 9rem;
  margin-right: 10rem;
}
footer h6 {
  color: white;
}
.footernav a {
  font-size: 2rem;
  color: white;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 4, 17);
}
.copyright p {
  font-size: 1rem;
  color: white;
}
